.main {
  min-height: calc(100vh - 100px);
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.error {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.not-found {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.slug {
  background-color: #dddddd;
  border-radius: 8px;
  padding: 3px 10px;
  font-size: 0.8rem;
}

.btn-tambah {
  background-color: #dddddd;
  padding: 7px 12px;
  border-radius: 8px;
  text-decoration: none;
  color: #000000;
  font-weight: 600;
  text-align: center;
}

.btn-tambah:hover {
  background-color: #c8c8c8;
}

.limit {
  border-radius: 8px;
  padding: 3px 10px;
  font-size: 0.8rem;
  color: white;
}

.domain {
  background-color: #00ff66;
  border-radius: 8px;
  padding: 3px 10px;
  font-size: 0.8rem;
}

.required {
  border-radius: 8px;
  padding: 3px 10px;
  font-size: 0.8rem;
  color: red;
  user-select: none;
}

.input-text {
  border: none;
  border-bottom: 1px solid #ddd;
  outline: none;
}

.input-text:focus {
  border-color: #000000;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  overflow-y: auto;
}

.modal-content {
  width: 40rem;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 15px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.btn-close {
  margin-left: auto;
  cursor: pointer;
}

.cancel-btn:hover {
  background-color: #f1f1f1;
}

.link {
  text-decoration: none;
  background-color: #C3DDFD;
  padding: 3px 10px;
  border-radius: 8px;
  font-size: .8rem;
  color: rgb(30 66 159);
  font-weight: 600;
}

.link:hover {
  background-color: #aad0ff;
}

.copy-btn {
  border: none;
  display: flex;
  gap: 5px;
  padding: 3px 10px;
  align-items: center;
  border-radius: 8px;
  background-color: #EAEDEF;
  font-size: .8rem;
  font-weight: 600;
}

.copy-btn:hover {
  background-color: #ddd;
}